{% extends "base.html" %}

{% load bootstrap3 %}

{% block maincontent %}
<div class="container" class="col-md-8 col-md-offset-2">
    {% if user.is_authenticated %}
        <p>Γειά σου, {{ user.username }}. <a href="{% url 'logout' %}">Αποσύνδεση</a></p>
    {% endif %}
        
    {% if exercise %}
        <h1> {{ exercise.title }} </h1>
        <h5> <u>Προθεσμία:</u> {{ exercise.deadline }} </h5>
        <br/>
        
        <!--<samp class"pre wrapped">{{ exercise.description }} </samp>-->
        {% if exercise.statement_url%}
            <div class="row">
                <iframe class="container" src="http://docs.google.com/gview?url={{ exercise.statement_url }}&embedded=true"
                    frameborder="0" height="550px"></iframe>  
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            {% if exercise.can_be_submitted %}
                <br/>
                {% if exercise.type == exercise.THEORETICAL %}

                {% endif %}

                {% if exercise.type == exercise.AUTO_GRADING %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "star" %} Υποβολή
                            </button>
                        {% endbuttons %}
                                
                    </form>
                {% endif %}
            {% endif %}    

            {% if submissions %}
                <h3> Προηγούμενες Υποβολές </h3>
                <table class="table">
                    {% for submission in submissions %}
                    <tr class="{% if submission.is_solution %}success{% else %}danger{% endif %}">
                        <td>{{ submission.user.username }}</td>
                        <td>{{ submission.time_submitted }}</td>
                        <td>
                            {% if submission.is_solution %}
                                Επιτυχής!
                            {% else %}
                                Αποτυχημένη
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h4> Δεν υπάρχει υποβολή για την συγκεκριμένη άσκηση. </h4>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

{% endblock %}
