{% extends "base.html" %}

{% load bootstrap3 %}

{% block maincontent %}
<div class="container" class="col-md-8 col-md-offset-2">
    <h1> {{ exercise.title }} </h1>
    <h5> <u>Προθεσμία:</u> {{ exercise.deadline }} </h5>
    <br/>
    
    {% if exercise.description %}
        <samp class"pre wrapped">{{ exercise.description }}</samp>
    {% endif %}

	{% if generated_message %}
        <samp class"pre wrapped">{{ generated_message }}</samp>
	{% endif %}

    {% if exercise.statement_url%}
        <div class="row">
            <iframe class="container" src="http://docs.google.com/gview?url={{ exercise.statement_url }}&embedded=true"
                frameborder="0" height="550px"></iframe>  
        </div>
    {% endif %}
    
    {% if not exercise.statement_url and not exercise.description %}
        <h5>Δεν υπάρχει διαθέσιμη εκφώνηση. Παρακαλούμε προσπαθήστε αργότερα.</h5>
        <div class="clearfix"></div>
    {% endif %}

    {% if user.is_authenticated %}
        <br/>
        {% if exercise.type == exercise.AUTO_GRADING %}
            {% if solution %}
                <div class="solution">Λύση: {{ solution.answer }}</div>
            {% else %}
                <br/>
                <form action="{% url 'submit-solution' exercise_tag=exercise.tag %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "star" %} Υποβολή
                        </button>
                    {% endbuttons %}
                </form>
                {% if submitted_wrong_answer %}
                <div class="text-warning">Λάθος. Προσπάθησε ξανά.</div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if exercise.type == exercise.THEORETICAL %}
        {% endif %}
    {% else %}
    <p>Πρέπει να έχεις λογαριασμό για να υποβάλεις λύσεις.</p>
    {% endif %}
</div>

{% endblock %}
