header {
    text-align: center;
    margin: 10px auto;
    border-radius: 20px;
}

.bold {
	font-weight: bold;
}

.unstyled {
	list-style: none;
}

.exercise {
	font-style: italic;
	text-decoration: underline;
}