{% extends "base.html" %}

{% load bootstrap3 %}

{% block maincontent %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Δεν έχεις δικαίωμα να δεις αυτή τη σελίδα. Δοκίμασε να συνδεθείς με άλλο λογαριασμό.</p>
    {% else %}
    <p>Η πρόσβαση σε αυτή τη σελίδα απαιτεί σύνδεση με λογαριασμό.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form col-md-4 col-md-offset-4">
{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
<input type="submit" value="Σύνδεση" class="btn btn-success" />
<input type="hidden" name="next" value="{{ next }}" />
{% endbuttons %}

<p><a href="{% url 'password_reset' %}">Έχασες το κωδικό σου?</a></p>
</form>
{% endblock %}
