{% extends "base.html" %}

{% load bootstrap3 %}

{% block maincontent %}

<div class="container">

{% if validlink %}

<form method="post" class="form col-md-4 col-md-offset-4">
{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
<input type="submit" value="Επαναφορά κωδικού" class="btn btn-success" />
{% endbuttons %}
</form>

{% else %}

<p>Ο σύνδεσμος για την επαναφορά κωδικού δεν ειναι έγκυρος ή έχει λήξει. Παρακαλώ ζήτησε ξανά επαναφορά κωδικού.</p>

{% endif %}

</div>

{% endblock %}
