header {
    text-align: center;
    margin: 10px auto;
    border-radius: 20px;
}

.bold {
	font-weight: bold;
}

.unstyled {
	list-style: none;
}

.exercise {
	font-style: italic;
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.credits {
	text-align: center;
	
	border-bottom: solid #959595 2px;
	margin-top: 5%;
	padding: 1%;
}

.important {
	color: orange;
	font-style: italic;
}

a {
	text-decoration: underline;
}