<!DOCTYPE html>
{% load bootstrap3 %}
<html>
	<head>
		<title>Κρυπτογραφία</title>
		<link rel="shortcut icon" href="static/img/favicon.ico">
		{% bootstrap_css %}
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>

	<body>
        <nav class="navbar navbar-default">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!--
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar">Κεντρική</span>
                        <span class="icon-bar">Ασκήσεις</span>
                    </button>
                    -->
                    <a class="navbar-brand" href="{% url "homepage" %}">crypto-class</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% url "homepage" as homepage_url %}
                        <li {% if request.path == homepage_url %}class="active"{% endif %}><a href="{% url "homepage" %}">Κεντρική</a></li>
                        {% url "exercise_index" as exercises_url %}
                        <li {% if request.path == exercises_url %}class="active"{% endif %}><a href="{% url "exercise_index" %}">Ασκήσεις</a></li>
                        {% url "lecture_index" as lectures_url %}
                        <li {% if request.path == lectures_url %}class="active"{% endif %}><a href="{% url "lecture_index" %}">Διαλέξεις</a></li>
                        {% url "faq_index" as faq_url %}
                        <li {% if request.path == faq_url %}class="active"{% endif %}><a href="{% url "faq_index" %}">Συχνές Ερωτήσεις</a></li>
                        <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        -->
                    </ul>
                    <!--
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    -->
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="{% url "logout" %}">Αποσύνδεση</a></li>
                        {% else %}
                        <li><a href="{% url "login" %}">Σύνδεση</a></li>
                        <li><a href="{% url "registration_register" %}">Εγγραφή</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
		{% bootstrap_messages %}

		<div class="content">
		{% block maincontent %}
		{% endblock %}
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		{% bootstrap_javascript %}
        <script type="text/javascript" src="/static/js/main.js"></script>
	</body>
</html>
