{% extends "base.html" %}

{% load bootstrap3 %}

{% block maincontent %}
		<div class='container'>
            <header class='jumbotron'>
                <h1>Συχνές Ερωτήσεις</h1>
				<h2>Κρυπτογραφία</h2>
				<img src='static/img/NTUA.png' alt='NTUA Logo' height='140' width='140'/>
				<p><a href='http://www.ece.ntua.gr/el'>ΗΜΜΥ ΕΜΠ</a></p>
            </header>
			<main>
			<h2 class='page-header'>Τι πρέπει να ξέρω;</h2>
			<p>Οι <span class='bold'>προαπαιτούμενες</span> γνώσεις είναι:</p>
			<ul>
				<li><span class='bold'>Μαθηματική ωριμότητα</span> και γνώσεις <span class='bold'>διακριτών μαθηματικών</span>. (π.χ. από το μάθημα “<span class='italic'>Διακριτά Μαθηματικά</span>”)</li>
				<li>Γνώση μίας <span class='bold'>γλώσσας προγραμματισμού</span> της επιλογής σας. (π.χ. από το μάθημα “<span class='italic'>Εισαγωγή στον προγραμματισμό</span>”)</li>
				<li><span class='bold'>Βασική γνώση αλγορίθμων</span> και <span class='bold'>θεωρίας πολυπλοκότητας.</span> (π.χ. από το μάθημα “<span class='italic'>Εισαγωγή στην Επιστήμη των Υπολογιστών</span>” ή από το “<span class='italic'>Αλγόριθμοι και Πολυπλοκότητα</span>”)</li>
			</ul>
			<h2 class='page-header'>Τι θα μάθω;</h2>
			<ul>
				<li>Συμμετρική κρυπτογραφία</li>
				<li>One-time pads</li>
				<li>Hash functions</li>
				<li>Γεννήτριες τυχαίων αριθμών</li>
				<li>Block ciphers</li>
				<li>HMAC</li>
				<li>Θεωρία αριθμών</li>
				<li>Ασύμμετρη κρυπτογραφία</li>
				<li>Ψηφιακές υπογραφές (RSA)</li>
				<li>Diffie-Hellman</li>
				<li>Κρυπτογραφία στο web</li>
				<li>Επιθέσεις MITM, side-channel, timing</li>
				<li>Ασφαλείς επικοινωνίες</li>
				<li>Ελλειπτικές καμπύλες</li>
				<li>Zero-knowledge proofs</li>
				<li>Ψηφιακές ψηφοφορίες, Bitcoin, αποκεντρωμένο DNS, blockchain</li>
			</ul>

			<h2 class='page-header'>Άδεια χρήσης</h2>
			<p>Tο <span class='bold'>υλικό του μαθήματος</span>, συμπεριλαμβανομένων <span class='bold'>video</span>, <span class='bold'>διαφανειών</span>, <span class='bold'>εκφωνήσεων ασκήσεων </span>και <span class='bold'>κώδικα</span> θα <span class='italic'>δημοσιευθούν</span> υπό την άδεια <span class='bold'>Creative Commons 4.0 BY, </span>ενώ οι <span class='bold'>πρότυπες λύσεις ασκήσεων</span> θα <span class='italic'>δημοσιευθούν</span> υπό την <span class='bold'>άδεια MIT.</span></p>

			<h2 class='page-header'>Ποιό είναι το βαθμολογικό σχήμα;</h2>
			<p>Ο <span class='bold'>τελικός βαθμός</span> θα δίνεται από την παρακάτω <span class='bold'>φόρμουλα</span> και θα έχει <span class='bold'>μέγιστο το 15</span>, άριστα το τουλάχιστον 10 και βάση το 5. Για να <span class='bold'>περάσει</span> κανείς το μάθημα, απαιτείται <span class='bold'>τελικός βαθμός τουλάχιστον 5/15</span>.</p>
			<p>Βαθμός <span class='bold'>Θεωρητικών Ασκήσεων</span> = 0...5</p>
			<p>Βαθμός <span class='bold'>Πρακτικών Ασκήσεων</span> = 0...5</p>
			<p>Βαθμός <span class='bold'>Εξέτασης</span> = 0...10</p>
			<p>Φόρμουλα: ΤΒ = &lfloor; ΒΕ (1 + (ΒΘΑ+ΒΠΑ) / 20)  &rfloor; </p>
			<p><span class='italic'>Δεν απαιτούνται ειδικά κατώφλια για το 5</span>.</p>
			</main>
        </div>
{% endblock %}
