{% extends "base.html" %}

{% load bootstrap3 %}

{% block maincontent %}
		<div class="container">
			<header class="jumbotron">
				<h1>Κρυπτογραφία</h1>
				<p>Χειμερινό εξάμηνο 2015-2016, ΕΜΠ</p>
				<img src="static/img/NTUA.png" alt="NTUA Logo" height="140" width="140"/>
				<p><a href="http://www.ece.ntua.gr/el">ΗΜΜΥ ΕΜΠ</a></p>
			</header>

			<main>
			<p>Έχεις κάποια ερώτηση; Πήγαινε στις <a href="/faq">συχνές ερωτήσεις</a>. Δεν βρίσκεις απάντηση στην ερώτηση σου; Θέσε την στο <a href='https://groups.google.com/forum/#!forum/crypto-class-students'>forum</a> και θα σου απαντήσουμε.</p>
			<h2 class="page-header">Υπεύθυνοι καθηγητές</h2>
			<ul>
				<li>Άρης Παγουρτζής (pagour@gmail.com)</li>
				<li>Παναγιώτης Τσανάκας (panayiotis.tsanakas@gmail.com)</li>
				<li>Στάθης Ζάχος (zachos@cs.ntua.gr)</li>
			</ul>
			<h2 class="page-header">Διδασκαλία</h2>
			<ul>
				<li>Παναγιώτης Γροντάς (pgrontas@gmail.com)</li>
				<li>Πέτρος Ποτίκας (petros.potikas@gmail.com)</li>
				<li>Διονύσης Ζήνδρος (dionyziz@gmail.com)</li>
			</ul>

			<h2 class="page-header">Βοηθοί μαθήματος</h2>
			<ul>
				<li>Ζέτα Αβαρικιώτη (zetavar@corelab.ntua.gr)</li>
				<li>Σωκράτης Βίδρος (sokratis.vidros@gmail.com)</li>
				<li>Βασίλης Γκούμας (bgoumas@gmail.com)</li>
				<li>Λευτέρης Ιωαννίδης (elefthei@mit.edu)</li>
				<li>Κωνσταντίνος Κανελλής (kkanelli@gmail.com)</li>
				<li>Δημήτρης Καρακώστας (dimit.karakostas@gmail.com)</li>
				<li>Κωστής Καραντίας (karantiaskostis@gmail.com)</li>
				<li>Πλάτων-Νικόλαος Κιορπελίδης (platwnace@gmail.com)</li>
				<li>Νικόλας Κορασίδης (renelvon@gmail.com)</li>
				<li>Αλέξης Μπρέζας (abresas@gmail.com)</li>
				<li>Χαρά Ποδηματά (charapod@gmail.com)</li>
				<li>Γιώργος Τσουκαλάς (gtsouk@gmail.com)</li>
			</ul>

				<h2 class="page-header">Διαδικαστικά</h2>
				<p class="important">Τα μαθήματα ξεκίνησαν την Τρίτη 6/10</p>
				<p>Το μάθημα θα διεξάγεται την <span class="bold">Τρίτη 17:30 - 19:30</span> και την <span class="bold">Παρασκευή 16:00 - 18:00</span> στην <span class="bold">Αίθουσα 005</span> στα Ν. Κτ. Ηλεκτρολόγων.</p>
				<p>Οι ώρες γραφείου είναι την <span class="bold">Τρίτη 15:00 - 16:00, γρ. 1.1.30 παλιό κτίριο Ηλεκτρολόγων</span>.</p>
				<p><a href="https://corelab.ntua.gr/index.gr.html">Corelab</a></p>

				<!--<h2 class="page-header">Επόμενη διάλεξη 18/12</h2>
        <p>Η διάλεξη θα πραγματοποιηθεί κανονικά</p>-->
			</main>
        </div>
{% endblock %}
