{% extends "base.html" %}

{% load bootstrap3 %}

{% block maincontent %}
		<div class="container">
			<header class="jumbotron">
				<h1>Διαδικαστικά</h1>
				<h2>Κρυπτογραφία</h2>
				<p>Χειμερινό εξάμηνο 2015-2016, ΕΜΠ</p>
				<img src="static/img/NTUA.png" alt="NTUA Logo" height="140" width="140"/>
				<p><a href="http://www.ece.ntua.gr/el">ΗΜΜΥ ΕΜΠ</a></p>
			</header>

			<main>

			<!-- Course info -->
			<p>Έχεις κάποια ερώτηση; Πήγαινε στις <a href="/faq">συχνές ερωτήσεις</a>. Δεν βρίσκεις απάντηση στην ερώτηση σου; Θέσε την στο <a href='https://groups.google.com/forum/#!forum/crypto-class-students'>forum</a> και θα σου απαντήσουμε.</p>
			<h2 class="page-header">Υπεύθυνοι καθηγητές</h2>
			<ul>
				<li>Άρης Παγουρτζής (pagour@gmail.com)</li>
				<li>Παναγιώτης Τσανάκας (panayiotis.tsanakas@gmail.com)</li>
				<li>Στάθης Ζάχος (zachos@cs.ntua.gr)</li>
			</ul>
			<h2 class="page-header">Διδασκαλία</h2>
			<ul>
				<li>Παναγιώτης Γροντάς (pgrontas@gmail.com)</li>
				<li>Πέτρος Ποτίκας (petros.potikas@gmail.com)</li>
				<li>Διονύσης Ζήνδρος (dionyziz@gmail.com)</li>
			</ul>

			<h2 class="page-header">Βοηθοί μαθήματος</h2>
			<ul>
				<li>Ζέτα Αβαρικιώτη (zetavar@corelab.ntua.gr)</li>
				<li>Σωκράτης Βίδρος (sokratis.vidros@gmail.com)</li>
				<li>Βασίλης Γκούμας (bgoumas@gmail.com)</li>
				<li>Λευτέρης Ιωαννίδης (elefthei@mit.edu)</li>
				<li>Κωνσταντίνος Κανελλής (kkanelli@gmail.com)</li>
				<li>Δημήτρης Καρακώστας (dimit.karakostas@gmail.com)</li>
				<li>Κωστής Καραντίας (karantiaskostis@gmail.com)</li>
				<li>Πλάτων-Νικόλαος Κιορπελίδης (platwnace@gmail.com)</li>
				<li>Νικόλας Κορασίδης (renelvon@gmail.com)</li>
				<li>Αλέξης Μπρέζας (abresas@gmail.com)</li>
				<li>Χαρά Ποδηματά (charapod@gmail.com)</li>
				<li>Γιώργος Τσουκαλάς (gtsouk@gmail.com)</li>
			</ul>
			</main>
        </div>
{% endblock %}
