{% extends "base.html" %}

{% load bootstrap3 %}

{% block maincontent %}
		<div class='container'>
            <header class='jumbotron'>
                <h1>Παραπομπές</h1>
				<h2>Κρυπτογραφία</h2>
                <p>Χειμερινό εξάμηνο 2015-2016, ΕΜΠ</p>
				<img src='static/img/NTUA.png' alt='NTUA Logo' height='140' width='140'/>
				<p><a href='http://www.ece.ntua.gr/el'>ΗΜΜΥ ΕΜΠ</a></p>
            </header>
			<main>
		    
            <h2 class="page-header">Βιβλιογραφία</h2>
            <ol>
                <li>Σημειώσεις Ε. Ζάχου - Α. Παγουρτζή, ΕΜΠ, 2014.</li>
                <li>D. Stinson: <a href="http://www.math.uwaterloo.ca/~dstinson/CTAP3/CTAP3.html">Cryptography: Theory and Practice</a>, 3rd edition, CRC Press, 2005.</li>
                <li>A. Menezes, P. van Oorschot, and C. Vanstone: Handbook of Applied Cryptography: <a href="http://www.cacr.math.uwaterloo.ca/hac">http://www.cacr.math.uwaterloo.ca/hac</a>.</li>
                <li>J. Katz and Y. Lindell: <a href="http://www.cs.umd.edu/~jkatz/imc.html">Introduction to Modern Cryptography</a>, Chapman &amp; Hall/CRC Press, 2007.</li>
                <li>V. Shoup: A Computational Introduction to Number Theory and Algebra: <a href="http://shoup.net/ntb">http://shoup.net/ntb/</a>.</li>
                <li>B. Schneier: Applied Cryptography: <a href="http://www.schneier.com/book-applied.html">http://www.schneier.com/book-applied.html</a>.</li>
                <li>W.Trappe, L. Washington: Introduction to Cryptography with Coding Theory.</li>
                <li>A.Κιαγιάς: Τεχνικές Σύγχρονης Κρυπτογραφίας: <a href="http://cgi.di.uoa.gr/~aggelos/crypto/page9/page9.html"> σημειώσεις </a> </li>
            </ol>
                        
            <h2 class="page-header">Κείμενα για συμπληρωματική μελέτη</h2>
            <ul>
                <li>Ε. Ζάχος, Α. Παγουρτζής, Δ. Φωτάκης: "Σύντομη Εισαγωγή στη Θεωρία Πολυπλοκότητας":<a href="documents/ComplexityChapter.pdf">pdf</a></li>
                <li>Ε. Ζάχος: "Computational Complexity Notes (in English)":<a href="documents/ccen2010.pdf">pdf</a></li>
                <li>V. Shoup: "A Primer on Algebra and Number Theory for Computer Scientists":<a href="documents/shoup-primer.pdf">pdf</a></li>
                <li>R. Rivest, A. Shamir, L. Adleman: "A Method for Obtaining Digital Signatures and Public-Key Cryptosystems": <a href="http://theory.lcs.mit.edu/%7Erivest/rsapaper.ps.gz">ps (gzipped)</a>, <a href="http://theory.lcs.mit.edu/%7Erivest/rsapaper.pdf">pdf</a>.</li>
                <li>W. Diffie, M. Hellman: "New Directions in Cryptography": <a href="documents/diffie76new.ps.gz">ps (gzipped)</a>, <a href="documents/diffie76new.pdf">pdf</a>.</li>
                <li>S. Goldwasser, M. Belare: Lecture Notes on Cryptography: <a href="http://cseweb.ucsd.edu/users/mihir/papers/gb.html">pdf</a>.</li>
                <li>M. Agrawal, N. Kayal, N. Saxena: Primality is in P: <a href="http://www.math.princeton.edu/%7Eannals/issues/2004/Sept2004/Agrawal.pdf">pdf</a>.</li>
                </ul>

            <h2 class="page-header">Links</h2>
            <ul>
                <p><b>Γενικά για κρυπτογραφία:</b></p>
                <li><a href="http://theory.lcs.mit.edu/%7Erivest/crypto-security.html">MIT Cryptography and Security links</a></li>
                <li><a href="http://crypto.stanford.edu/~dabo/cs255/">Stanford Introduction to Cryptography course</a></li>
                <li><a href="http://www-cse.ucsd.edu/users/mihir/papers/gb.html">http://www-cse.ucsd.edu/users/mihir/papers/gb.html</a></li>
                <li><a href="http://www-cse.ucsd.edu/users/mihir/">Mihir Bellare's web page (links to courses, papers, etc.)</a></li>
                <li><A HREF="index.html">Cryptology ePrint archive (large collection of research papers)</A></li>
                <li><a href="http://www.crypto.ethz.ch/">ETH Information Security and Cryptography Research Group</a></li>
                <li><a href="http://www.schneier.com/">Bruce Schneier's blog</a></li>
                <li><a href="http://www.iacr.org/">International Association for Cryptologic Research (IACR)</a></li>
                <li><a href="http://fics.mat.dtu.dk/">Foundations in Cryptology and Security research centre (Denmark) </a></li>
                
                </br>
                <p><b>Ειδικά θέματα:</b></p>
                <li><a href="http://www.itl.nist.gov/fipspubs/fip81.htm">Τρόποι Λειτουργίας του DES</a></li>
                <li><a href="http://theory.lcs.mit.edu/~rivest/rfc1321.txt">Περιγραφή του MD5</a> (+στοιχεία υλοποίησης)</li>
                <li><a href="http://theory.lcs.mit.edu/~rivest/md5.c">Υλοποίηση του MD5</a></li>
                <li><a href="http://www.itl.nist.gov/fipspubs/fip185.htm">Πρότυπο Κρυπτογράφησης με &quot;Συμβόλαιο&quot; (Escrowed Encryption Standard)</a> (specifications mainly)</li>
                <li><a href="http://www.itl.nist.gov/fipspubs/fip180-1.htm">Πρότυπο Ασφαλούς Αποτυπώματος [Secure Hash Standard (SHS)]</a> (specifications mainly)</li>
                <li><a href="http://web.mit.edu/kerberos/www/">Σύστημα Πιστοποίησης Kerberos</a></li>
                <li><a href="http://www.crypto.com/papers/keylength.ps">Μήκος Κλειδιών για Επαρκή Ασφάλεια στην Κλασσική Κρυπτογραφία</a></li>
                <li><a href="http://www-cse.ucsd.edu/users/mihir/cse291-00/brands.ps">Ψηφιακό Χρήμα - Ηλεκτρονικό Εμπόριο</a></li>
            </ul>
            </main>
        </div>
{% endblock %}
