{% extends "base.html" %}

{% load bootstrap3 %}

{% block maincontent %}
		<div class='container'>
            <header class='jumbotron'>
                <h1>Παραπομπές</h1>
				<h2>Κρυπτογραφία</h2>
                <p>Χειμερινό εξάμηνο 2015-2016, ΕΜΠ</p>
				<img src='static/img/NTUA.png' alt='NTUA Logo' height='140' width='140'/>
				<p><a href='http://www.ece.ntua.gr/el'>ΗΜΜΥ ΕΜΠ</a></p>
            </header>
			<main>

            <h2 class="page-header">Βιβλιογραφία</h2>
            <ol>
                <li>Σημειώσεις Ε. Ζάχου - Α. Παγουρτζή, ΕΜΠ, 2014.</li>
                <li>D. Stinson: <a href="http://www.math.uwaterloo.ca/~dstinson/CTAP3/CTAP3.html">Cryptography: Theory and Practice</a>, 3rd edition, CRC Press, 2005.</li>
                <li>A. Menezes, P. van Oorschot, and C. Vanstone: Handbook of Applied Cryptography: <a href="http://www.cacr.math.uwaterloo.ca/hac">http://www.cacr.math.uwaterloo.ca/hac</a>.</li>
                <li>J. Katz and Y. Lindell: <a href="http://www.cs.umd.edu/~jkatz/imc.html">Introduction to Modern Cryptography</a>, Chapman &amp; Hall/CRC Press, 2007.</li>
                <li>V. Shoup: A Computational Introduction to Number Theory and Algebra: <a href="http://shoup.net/ntb">http://shoup.net/ntb/</a>.</li>
                <li>B. Schneier: Applied Cryptography: <a href="http://www.schneier.com/book-applied.html">http://www.schneier.com/book-applied.html</a>.</li>
                <li>W.Trappe, L. Washington: Introduction to Cryptography with Coding Theory.</li>
				<li>Jonathan Katz and Yehuda Lindell. Introduction to Modern Cryptography (Chapman and Hall/Crc Cryptography and Network Security Series). Chapman and Hall/CRC, 2007</li>
				<li>Christof Paar and Jan Pelzl. Understanding cryptography: a textbook for students and practitioners. Springer Science-Business Media, 2009.</li>
                <li>A.Κιαγιάς: Τεχνικές Σύγχρονης Κρυπτογραφίας: <a href="http://cgi.di.uoa.gr/~aggelos/crypto/page9/page9.html"> σημειώσεις </a> </li>
				<li>Nigel Smart. Introduction to cryptography: <a href="http://goo.gl/b75I29">link</a></li>
				<li>Dan Boneh, Introduction to cryptography, online course</li>
				<li>Andreas M. Antonopoulos: Mastering Bitcoin: <a href="http://chimera.labs.oreilly.com/books/1234000001802/index.html">link</a></li>
            </ol>

            <h2 class="page-header">Κείμενα για συμπληρωματική μελέτη</h2>
            <ul>
                <li>Ε. Ζάχος, Α. Παγουρτζής, Δ. Φωτάκης: "Σύντομη Εισαγωγή στη Θεωρία Πολυπλοκότητας":<a href="https://corelab.ntua.gr/courses/crypto/documents/ComplexityChapter.pdf">pdf</a></li>
                <li>Ε. Ζάχος: "Computational Complexity Notes (in English)":<a href="https://corelab.ntua.gr/courses/crypto/documents/ccen2010.pdf">pdf</a></li>
                <li>V. Shoup: "A Primer on Algebra and Number Theory for Computer Scientists":<a href="https://corelab.ntua.gr/courses/crypto/documents/shoup-primer.pdf">pdf</a></li>
                <li>R. Rivest, A. Shamir, L. Adleman: "A Method for Obtaining Digital Signatures and Public-Key Cryptosystems" <!-- <a href="http://theory.lcs.mit.edu/%7Erivest/rsapaper.ps.gz">ps (gzipped)</a>, <a href="http://theory.lcs.mit.edu/%7Erivest/rsapaper.pdf">pdf</a>.--> </li>
                <li>W. Diffie, M. Hellman: "New Directions in Cryptography": <a href="https://corelab.ntua.gr/courses/crypto/documents/diffie76new.ps.gz">ps (gzipped)</a>, <a href="https://corelab.ntua.gr/courses/crypto/documents/diffie76new.pdf">pdf</a>.</li>
                <li>S. Goldwasser, M. Belare: Lecture Notes on Cryptography: <a href="http://cseweb.ucsd.edu/users/mihir/papers/gb.html">pdf</a>.</li>
                <li>M. Agrawal, N. Kayal, N. Saxena: Primality is in P: <a href="http://www.math.princeton.edu/%7Eannals/issues/2004/Sept2004/Agrawal.pdf">pdf</a>.</li>
				<li>Berry Schoenmakers, Cryptographic Protocols: <a href="http://www.win.tue.nl/~berry/2WC13/LectureNotes.pdf">pdf</a></li>
				<li>Aggelos Kiayias, Cryptography primitives and protocols: <a href="http://crypto.di.uoa.gr/class/Kryptographia/Semeioseis_files/Cryptograph_Primitives_and_Protocols.pdf">link</a></li>
            </ul>

            <h2 class="page-header">Σύνδεσμοι</h2>
            <ul>
                <p><b>Γενικά για κρυπτογραφία:</b></p>
                <li><a href="http://theory.lcs.mit.edu/%7Erivest/crypto-security.html">MIT Cryptography and Security links</a></li>
                <li><a href="http://crypto.stanford.edu/~dabo/cs255/">Stanford Introduction to Cryptography course</a></li>
                <!--<li><a href="http://www-cse.ucsd.edu/users/mihir/papers/gb.html">http://www-cse.ucsd.edu/users/mihir/papers/gb.html</a></li>-->
                <li><a href="http://www-cse.ucsd.edu/users/mihir/">Mihir Bellare's web page (links to courses, papers, etc.)</a></li>
                <li><a href="https://eprint.iacr.org/">Cryptology ePrint archive (large collection of research papers)</a></li>
                <li><a href="http://www.crypto.ethz.ch/">ETH Information Security and Cryptography Research Group</a></li>
                <li><a href="http://www.schneier.com/">Bruce Schneier's blog</a></li>
                <li><a href="http://www.iacr.org/">International Association for Cryptologic Research (IACR)</a></li>
                <li><a href="http://fics.mat.dtu.dk/">Foundations in Cryptology and Security research centre (Denmark) </a></li>

                </br>
                <p><b>Ειδικά θέματα:</b></p>
                <li><a href="http://www.itl.nist.gov/fipspubs/fip81.htm">Τρόποι Λειτουργίας του DES</a></li>
                <!--<li><a href="http://theory.lcs.mit.edu/~rivest/rfc1321.txt">Περιγραφή του MD5</a> (+στοιχεία υλοποίησης)</li>
                <li><a href="http://theory.lcs.mit.edu/~rivest/md5.c">Υλοποίηση του MD5</a></li>-->
                <li><a href="http://csrc.nist.gov/publications/fips/fips185/fips185.pdf">Πρότυπο Κρυπτογράφησης με &quot;Συμβόλαιο&quot; (Escrowed Encryption Standard)</a> (specifications mainly)</li>
                <!--<li><a href="http://www.itl.nist.gov/fipspubs/fip180-1.htm">Πρότυπο Ασφαλούς Αποτυπώματος [Secure Hash Standard (SHS)]</a> (specifications mainly)</li>-->
                <li><a href="http://web.mit.edu/kerberos/www/">Σύστημα Πιστοποίησης Kerberos</a></li>
                <li><a href="http://www.crypto.com/papers/keylength.ps">Μήκος Κλειδιών για Επαρκή Ασφάλεια στην Κλασσική Κρυπτογραφία</a></li>
                <li><a href="http://www-cse.ucsd.edu/users/mihir/cse291-00/brands.ps">Ψηφιακό Χρήμα - Ηλεκτρονικό Εμπόριο</a></li>

				<li><a href="http://blog.cryptographyengineering.com/2011/09/what-is-random-oracle-model-and-why.html">What is the Random Oracle Model and why should you care? (M. Green)</a></li>
				<li><a href="http://eprint.iacr.org/2015/1018.pdf">A riddle wrapped in an enigma (Neal Koblitz and Alfred J. Menezes)</a></li>
				<li><a href="http://jeremykun.com/2014/02/08/introducing-elliptic-curves/">Introducing Elliptic Curves (Jeremy Kun)</a></li>
				<li><a href="http://andrea.corbellini.name/2015/05/17/elliptic-curve-cryptography-a-gentle-introduction/">Elliptic Curve Cryptography: a gentle introduction (Andrea Corbellini)</a></li>
				<li><a href="http://www.shoup.net/papers/expo.pdf">Why chosen ciphertext security matters (V. Shoup)</a></li>
				<li><a href="https://www.openssl.org/~bodo/ssl-poodle.pdf">This POODLE Bites: Exploiting The SSL 3.0 Fallback</a></li>
				<li><a href="http://breachattack.com/resources/BREACH%20-%20SSL,%20gone%20in%2030%20seconds.pdf ">BREACH: Reviving the Crime Attack</a></li>

            </ul>

			<h2 class="page-header">Εργασίες</h2>
			<ul>
				<li>M. Bellare, P. Rogaway, (1993). "Random Oracles are Practical: A Paradigm for Designing Efficient Protocols". ACM Conference on Computer and Communications Security: 62–73. </li>
				<li>M. Bellare and P. Rogaway.  Optimal asymmetric encryption. Advances in Cryptology—EUROCRYPT'94. Springer Berlin Heidelberg, 1995.</li>
				<li>D. Bleichenbacher, D.   Chosen ciphertext attacks against protocols based on the RSA encryption standard PKCS1, Advances in Cryptology—CRYPTO'98. Springer Berlin Heidelberg, 1998.</li>
				<li>D Boneh, Twenty years of attacks on the RSA cryptosystem.  Notices of the AMS 46.2 (1999): 203-213.</li>
				<li>R. Canetti, O. Goldreich, and S. Halevi.  The random oracle methodology, revisited. Journal of the ACM, 51(4):557–594, 2004.</li>
				<li>D. Chaum. Blind signatures for untraceable payments. In D. Chaum, R.L. Rivest, and A.T. Sherman, editors, Advances in Cryptology Proceedings of Crypto 82, pages 199-203, 1983</li>
				<li>D. Chaum. (1985). "Security without identification: Transaction systems to make big brother obsolete". Communications of the ACM 28 (10): 1030. doi:10.1145/4372.4373</li>
				<li>D. Chaum and Eugene Heyst. Group signatures. In Donald W. Davies, editor, Advances in Cryptology — EUROCRYPT ’91, volume 547 of Lecture Notes in Computer Science, pages 257--265. Springer Berlin Heidelberg, 1991.</li>
				<li>A. May. Computing the rsa secret key is deterministic polynomial time equivalent to factoring. In Advances in Cryptology–CRYPTO 2004, pages 213–219. Springer, 2004.</li>
				<li>H. Petersen. How to convert any digital signature scheme into a group signature scheme. In Security Protocols Workshop, pages 177--190, 1997.</li>
				<li>T. Pedersen. Non-interactive and information-theoretic secure verifiable secret sharing. In CRYPTO ’91, pages 129–140, 1991.</li>
				<li>R.L. Rivest, A. Shamir, and L. Adleman, A method for obtaining digital signatures and public-key cryptosystems . Communications of the ACM, 21:120–126, 1978.</li>
				<li>A. Shamir,  How to share a secret.  Communications of the ACM 22.11 (1979): 612-613.</li>
				<li>M. J Wiener.  Cryptanalysis of short rsa secret exponents. Information Theory, IEEE Transactions on, 36(3):553–558, 1990.</li>
			</ul>

			<h2 class="page-header">Ευχαριστούμε!</h2>
			<a href="https://www.papaki.gr">
				<img src="/static/img/papaki.png"></img>
			</a>

            </main>
        </div>
{% endblock %}
